header{
    text-align: center;
    font-style: normal;
    font-size: 40px;
    border: 5px;
    border-style: solid;

    
}

.searchbox{
    border: 3px;
    border-color: black;
    border-style: solid;
    margin-top: 5px;
}
.active{
    font-size: 40px;
}

#location-container{
    font-size: 40px;
}
